<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta charset="utf-9">
</head>
<body>
<h1>Reporte de Productos</h1>
<table class="table">
  <thead>
  <tr>
    <th style="width: 200px">Titulo</th>
    <th style="width: 200px">Descripcion</th>
    <th style="width: 200px">Precio</th>
  </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><%= product.title%></td>
        <td><%= product.description%></td>
        <td><%= product.price%></td>
      </tr>
  <%end%>
  </tbody>
</table>
</body>
</html>